backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/*.so

backend/venv/
backend/env/
backend/ENV/

backend/.env
backend/.env.*

backend/.vscode/
backend/.idea/
backend/*.swp
backend/*.swo

backend/.DS_Store
Thumbs.db

backend/*.log

backend/htmlcov/
backend/.tox/
backend/.coverage
backend/.pytest_cache/

# 自定义
backend/static/
backend/*.txt
backend/demo/
backend/*.zip
backend/*.md
backend/localhost.crt
backend/localhost.key


# -------------- 前端 (frontend/) --------------
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

frontend/coverage/

frontend/.next/
frontend/out/
frontend/build

frontend/.DS_Store
frontend/*.pem

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

frontend/.env*
frontend/.vercel

frontend/*.tsbuildinfo
frontend/next-env.d.ts

frontend/*.txt
frontend/*.zip
frontend/*.md
frontend/certificates

*.md